.my-class{
  text-align: center;
  color: blue;
}

.center-para{
  text-align: center;
  margin-top: 20px;
}

.big-button{
  display: flex;
  flex: 0;
  width: 500px;
  padding: 5px;
  margin: auto;
  text-align: center;
  font-size: large;
}

.buttonHolder{
  display: flex;
  position: center;
}
.left-button{
  display: flex;
  flex: 1;
  text-align: left;
  font-size: large;
}

.right-button{
  display: flex;
  flex: 1;
  text-align: right;
  font-size: large;
}
