.my-class{
  text-align: center;
  color: blue;
}

.center-para{
  text-align: center;
  margin-top: 20px;
}

.big-button{
  display: flex;
  flex: 1 1 0;
  padding: 5px;
  margin: 50px;
  text-align: center;
  font-size: 6vw;
  border-radius: 20px;
}
big-button:hover{
  display: flex;
  color: redl;
  flex: 1 1 0;
  padding: 5px;
  margin: 50px;
  text-align: center;
  font-size: 6vw;
  border-radius: 20px;
}

.buttonHolder{
  display: flex;
  flex: 1 1 0;
  position: center;
  text-align: center;
}
.left-button{
  display: flex;
  flex: 1;
  text-align: left;
  font-size: large;
}

.right-button{
  display: flex;
  flex: 1;
  text-align: right;
  font-size: large;
}
