.my-class{
  text-align: center;
  color: blue;
}

.center-para{
  text-align: center;
  margin-top: 20px;
}

.big-button{
  text-align: center;
  font-size: large;
}

.left-button{
  text-align: left;
  font-size: large;
}

.right-button{
  text-align: right;
  font-size: large;
}
