<head>
  <link rel="stylesheet" href="/static/homep.css">

  <script src="/static/hp.js"></script>
</head>

<nav class = "mainNav">
  <a class = "homeNav" href="/"> Home </a>
  <a class = "aboutNav" href="/about"> About Us </a>
</nav>
<body class = "BOD">
  <div id = "aboutHolder" >
    <p class = "textContent">
      <text class = "nameAboutUs"> David Toledo</text>
      <br>
      <text class = "subText">Class of 2025</text>
      <br>
      <text class = "subText">From Chicago, IL</text>
      <br>
      <text class = "comment" >Authors Comment: tbh working with Julian was the worst &#x1F64F </text>
    </p>
    <img src = "/static/pictures/davidPic.jpg">
  </div>
  <div id = "aboutHolder" >
    <img src = "/static/pictures/julianPic.jpg">
    <p class = "textContent2">
      <text class = "nameAboutUs"> Julian Tanguma</text>
      <br>
      <text class = "subText" >Class of 2025</text>
      <br>
      <text class = "subText" >From Houston, TX</text>
      <text class = "comment" >Authors Comment: Couldn’t find a worse partner in a high school program &#x1F64F </text>
    </p>
  </div>
  <img id = "picOfus" src = "/static/pictures/julian and me.jpg">

  <p class = "subText">
    Here is a picture of us two together back in September 2022!
  </p>
  
</body>
