<head>
  <link rel="stylesheet" href="/static/homep.css">

  <script src="/static/hp.js"></script>
</head>

<nav class = "dayNav">
  <a id = "homeNavDay" href="/"> home </a>
  <a id = "aboutNavDay" href="/"> about us </a>
</nav>

<div class = "dayDisplay">
  <p>
    SONG OF THE DAY GOES HERE
  </p>
</div>


<div id = "pickMonthDay">
  <form>
    <label> Choose a Month:</label>
        <select id="month" name="month" onchange="updateDays()">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
      </select>

    
   </form>

  
  
</div>
