<!-- takes songName and songArtist  -->

<head>
  <link rel="stylesheet" href="/static/homep.css">

  <script src="/static/hp.js"></script>
</head>

<nav class = "mainNav">
  <a class = "homeNav" href="/"> Home </a>
  <a class = "aboutNav" href="/about"> About Us </a>
</nav>

<div class = "dayDisplay">
  <div>
    <button class = "navDayButton" onclick = goBack()> ◄ previous </button>
    {{monthNum}} - {{dayNum}} - 2024
    <button class = "navDayButton" onclick = goForward()> next ► </button>
  </div>
  
  <div>
    {% if valid == 1 %}
        <p>{{songArtist }}- {{songName}}</p>
    {% else %}
        <p>Data Not Found</p>
    {% endif %}
  </div>
</div>

<!-- testing with inputdate  -->
<div id=pickMonthDay2>
   <form id = "dateForm2">
        <input 
          type="date" 
          id = "dateInput"
          min="01-01-2024"
          max="04-30-2024"
          onchange = changeDate()>
   </form>  
</div>

<script>
      function changeDate() {
        const dateFromForm = document.getElementById('dateInput').value;
        const date = new Date(dateFromForm);
        const month = date.getMonth() + 1;
        const day = date.getDate() + 1;
        const form = document.getElementById('dateForm2');
        console.log(month);
        console.log(day);
        form.action = `/day/${month}/${day}`;
        form.submit();
       
        
      }
        
    function goBack() {
              let month = parseInt("{{ monthNum }}");
              let day = parseInt("{{ dayNum }}");
  
              if (day == 1) {
                  if (month == 1) {
                      month = 4;
                      day = 30;
                  } else {
                      month -= 1;
                      if (month == 2) {
                          day = 29;
                      } else if (month == 1) {
                          day = 30;
                      } else {
                          day = 31;
                      }
                  }
              } else {
                  day -= 1;
              }
  
              window.location.href = `/day/${month}/${day}`;
          }
  
      function goForward() {
            let month = parseInt("{{ monthNum }}");
            let day = parseInt("{{ dayNum }}");

            if ((month == 2 && day == 29) || 
                (month == 3 && day == 31) || 
                (month == 1 && day == 30) || 
                (month == 4 && day == 30)) {
                if (month == 4) {
                    month = 1;
                    day = 1;
                } else {
                    month += 1;
                    day = 1;
                }
            } else {
                day += 1;
            }

            window.location.href = `/day/${month}/${day}`;
        }
    
  </script>
