<head>
  <link rel="stylesheet" href="/static/homep.css">

  <script src="/static/hp.js"></script>
</head>

<nav class = "mainNav">
  <a class = "homeNav" href="/"> home </a>
  <a class = "aboutNav" href="/about"> about us </a>
</nav>


<h1 class="my-class" id="hello">
   a david and julian production
</h1>
<div class = "songHolderHome">
  <p>
    {{ someArtist}}
  </p>
  <p id = songNameHome>
    {{ someTitle }}
  </p>

  
</div>


<div class="buttonHolder">
<a class = "linkInButton" href="/month/1">
<button class="big-button">
   Month
</button>    
</a>
  
<a class = "linkInButton" href="/day/1/1">
<button class="big-button">
   Day
</button>    
</a>

<a class = "linkInButton" href="/surprise">
<button class="big-button">
   Surprise
</button>    
</a>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const textContainer = document.getElementById('SongNameHome');
    const newText = 'This is the new text.';

    // Change text after 3 seconds
    setTimeout(() => {
        // Add the fade-out class
        textContainer.classList.add('fade-out');

        // Wait for the transition to complete (1 second), then change the text and fade in
        setTimeout(() => {
            textContainer.textContent = newText;
            textContainer.classList.remove('fade-out');
        }, 1000); // This should match the duration of the CSS transition
    }, 3000); // Change text after 3 seconds (3000 milliseconds)
});
</script>
