<head>
  <link rel="stylesheet" href="/static/homep.css">

  <script src="/static/hp.js"></script>
</head>

<nav class = "mainNav">
  <a id = "homeNav" > home </a>
  <a id = "aboutUs" > about us </a>
</nav>


<h1 class="my-class" id="hello">
   a david and julian production
</h1>
<div class = "songHolderHome">
  <p>
    random song goes here
  </p>

  
</div>


<div class="buttonHolder">
  
<button class="big-button" onclick="setRandomColor()">
   Month
</button>
  
<button class="big-button" onclick="setRandomColor()">
   Day
</button>

<button class="big-button" onclick="setRandomColor()">
   Surprise
</button>
</div>
