<head>
  <link rel="stylesheet" href="/static/homep.css">

  <script src="/static/hp.js"></script>
</head>

<nav class = "mainNav">
  <a id = "homeNav" > home </a>
  <a id = "aboutNav" > about us </a>
</nav>


<h1 class="my-class" id="hello">
   a david and julian production
</h1>
<div class = "songHolderHome">
  <p>
    random song goes here
  </p>

  
</div>


<div class="buttonHolder">
<a class = "linkInButton" href="/month">
<button class="big-button">
   Month
</button>    
</a>
  
<a class = "linkInButton" href="/day">
<button class="big-button">
   Day
</button>    
</a>

<a class = "linkInButton" href="/surprise">
<button class="big-button">
   Surprise
</button>    
</a>
</div>
