<head>
  <link rel="stylesheet" href="/static/homep.css">

  <script src="/static/hp.js"></script>
</head>

<nav class = "mainNav">
  <a class = "homeNav" href="/"> home </a>
  <a class = "aboutNav" href="/about"> about us </a>
</nav>

<div class = "chartMonthDisplay">
  <p>
    chart goes here
  </p>
</div>


<div id = "monthDropDown">
  <label> Choose a Month:</label>
<select id = "months">
  <option value="01"> January</option>
  <option value="02"> Febuary</option>
  <option value="03"> March</option>
  <option value="04"> April</option>
</select>
</div>
