<head>
  <link rel="stylesheet" href="/static/homep.css">

  <script src="/static/hp.js"></script>
</head>

<nav class = "monthNav">
  <a id = "homeNav" > home </a>
  <a id = "aboutNav" > about us </a>
</nav>


<div class = "chartMonthDisplay">
  <p>
    chart goes here
  </p>
</div>


<div id = "monthDropDown">
  <label> Choose a Month:</label>
<select id = "months">
  <option value="January"> January</option>
  <option value="Febuary"> Febuary</option>
  <option value="March"> March</option>
  <option value="April"> April</option>
  <option value="May"> May</option>
  <option value="June"> June</option>
  <option value="July"> July</option>
  <option value="August"> August</option>
  <option value="September"> September</option>
  <option value="October"> October</option>
  <option value="November"> November</option>
  <option value="December"> December</option>
</select>
</div>
