<head>
  <link rel="stylesheet" href="/static/homep.css">

  <script src="/static/hp.js"></script>
</head>

<nav class = "mainNav">
  <a class = "homeNav" href="/"> Home </a>
  <a class = "aboutNav" href="/about"> About Us </a>
</nav>

<div class = "songHolderHome">
  <p>
    {{ someArtist}}
  </p>
  <p id = songNameHome>
    {{ someTitle }}
  </p>
 <p>
    DAILY RANK: {{ someRank }}
  </p>
  <p>
    EXPLICIT?: {{ explicit }}
  </p>
   <p>
    POPULARITY: {{ popScore }}
  </p>
  <button onclick="window.location.reload();">Get a New Song</button>
</div>

