<head>
  <link rel="stylesheet" href="/static/homep.css">

  <script src="/static/hp.js"></script>
</head>
<body class = "BOD">
<nav class = "mainNav">
  <a class = "homeNav" href="/"> Home </a>
  <a class = "aboutNav" href="/about"> About Us </a>
</nav>

<!-- Selecting a somg along with displayed data -->
<div class = "songHolderSur">
  <p id = songArtistHome>
    {{ someArtist}}
  </p>
  <p id = songNameHome>
    {{ someTitle }}
  </p>
 <p id = "formattedDate">
  </p>
  <p>
    EXPLICIT?: {{ explict }}
  </p>
   <p>
    POPULARITY: {{ popScore }}
  </p>
  <div id = "buttonSurHold" >
    <button class = "big-button" id = "buttonSur" onclick="window.location.reload();">Get a New Song</button>
  </div>
</div>
</body>

<script>
  var dateString = "{{ someDate }}"
  function formatDate(dateString) {
        date = new Date(dateString);
        day = date.getDate().toString().padStart(2, '0');
        month = (date.getMonth() + 1).toString().padStart(2, '0'); // Months are zero-based
        year = date.getFullYear();
        return `${month}/${day}/${year}`;
    }
  var formattedDate = formatDate(dateString);
        document.getElementById("formattedDate").innerText = "DAILY RANK: {{ someRank }} on " + formattedDate;
</script>
